@import url("./aboutus.css");
@import url("./speakers.css");
@import url("./venue.css");
@import url("./sponsers.css");
@import url("./price-cards.css");

.columns > div {
  display: flex;
  flex-direction: column;
}

.dsp-none{
  display: none;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.section-with-bg {
  background-color: #f6f7fd;
}

main > .section{
  scroll-margin-top: 100px;
}

main > .section > div.default-content-wrapper{
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.contact-us .default-content-wrapper::before,.price-cards .default-content-wrapper::before,.newsletter .default-content-wrapper::before,
.faq .default-content-wrapper::before{
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.contact-us .default-content-wrapper h3,.price-cards .default-content-wrapper h3, .newsletter .default-content-wrapper h3 ,.faq  .default-content-wrapper h3{
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  margin: 0 0 20px;
  padding: 0;
  color: #0e1b4d;
}
