.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
/* Columns CSS */
.section .column-style{
  color: white;
}
.section .column-style > div{
  align-items: flex-start;
}
.section .column-style > div > div:nth-child(1) p:nth-child(1){
          font-size: 3.375rem;
        letter-spacing: -1.62px;
        line-height: 59.4px;
        color: #fff;
    font-family: switzer, sans-serif;
    font-weight: 600;
    margin: 0 0 5px;
}
