

.speakers .default-content-wrapper{
text-align: center;
margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.speakers .default-content-wrapper::before{
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
}

.speakers .default-content-wrapper h3{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    margin: 0 0 20px;
    padding: 0;
    color: #0e1b4d;
}

.speakers .default-content-wrapper p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;

}

.speakers .columns-wrapper .columns-3-cols > div > div {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.speakers .columns-wrapper .columns-3-cols > div > div p{
    height: 100%;
    margin-bottom: 0;
}

.speakers .columns-wrapper .columns-3-cols > div > div p picture{
    display: grid;
    height: 100%;
}

.speakers .columns-wrapper .columns-3-cols > div > div > ul {
    background: rgb(6 12 34 / 76%);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    list-style: none;
    margin-bottom: 0;
}

.speakers .columns-wrapper .columns-3-cols > div > div > ul li{
    color: #fff;
}

.speakers .columns-wrapper .columns-3-cols > div > div:hover > ul{
    bottom: 0;
}