/* .accordion-container .accordion-wrapper {
  margin-bottom: 50px;
  padding-top: 18px
}

.accordion a {
  color: #fff;
}
.accordion a:hover {
  text-decoration: none;
}

.accordion-wrapper .accordion .accordion-item:first-child .accordion-item-label {
  border-top: 1px solid #FFFFFF;
}

.accordion details p {
  margin: 0;
}

.accordion-item .accordion-item-label p {
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 0.0625rem;
  width: 99%;
  color: #fff;
  font-family: "Montserrat-Medium";
  font-size: 18px;
  padding: 24px 0;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  vertical-align: middle;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.accordion details summary {
  position: relative;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  border-bottom: 1px solid #FFFFFF;
}

.accordion details[open] summary {
  color: rgb(255, 255, 255);
  background: rgb(37, 58, 113);
}

.accordion details summary:focus,
.accordion details summary:hover {
  color: rgb(255, 255, 255);
  background: rgb(37, 58, 113);
}

.accordion details summary::-webkit-details-marker {
	@@ -37,25 +67,66 @@
.accordion details summary::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  transition: transform 0.2s;
  background: url(/icons/icon-plus.svg);
  background-size: cover;
}


.accordion details[open] summary::after {
  background: url(/icons/icon-minus.svg);
  width: 24px;
  height: 2px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-item .accordion-item-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  background: rgb(37, 58, 113);
}

.accordion-item .accordion-item-body ul {
  list-style: none;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.accordion-item .accordion-item-body>ul>li>p {
  visibility: hidden;
}

.accordion-item .accordion-item-body>ul>li ul li p {
  margin-bottom: 10px;
  word-wrap: break-word;
  color: #fff;
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.accordion-item .accordion-item-body>ul>li ul li ul li a {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #fff;
}

.accordion details[open] .accordion-item-label {
  border-bottom: none;
} */