@import url("./contactform.css");
@import url("./loginform.css");

/* header and nav layout */
header .nav-wrapper {
    background-color: var(--background-color);
    width: 100%;
    z-index: 4;
    position: fixed;
}

header nav {
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "top-menu top-menu top-menu"
        "hamburger brand tools";
    grid-template-columns: auto 1fr 0.4fr;
    align-items: center;
    margin: auto;
    height: var(--nav-height);
    font-family: var(--body-font-family);
}

@media (width >=900px) {
    header nav {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    header nav {
        display: grid;
        grid-template-columns: 0.45fr 1fr 1fr;
        gap: -1px 0px;
        grid-template-areas:
            "top-menu top-menu top-menu"
            "brand sections sections";
    }

    header nav[aria-expanded='true'] {
        min-height: 0;
        overflow: visible;
    }
}

header nav p {
    margin: 0;
    line-height: 1;
}

header nav a:any-link {
    color: #282828;
    font-weight: 700;
}

header nav a:any-link:hover {
    color: #282828;
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    display: flex;
    align-items: center;
    background: var(--brand-bg-color);
    color: white;
}

header nav .nav-hamburger button {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 26px 14px;
    background: var(--brand-bg-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

header nav[aria-expanded='true'] .nav-hamburger button {
    padding: 16px 14px;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

@media (width >=900px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

/* brand */
header .nav-brand {
    grid-area: brand;
    flex-basis: 128px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
    padding-block: 6.4px;
}

header nav .nav-brand img {
    width: 187px;
    height: auto;
}

@media (width >=900px) {

    header .nav-brand {
        padding-block: unset;
        text-align: right;
    }

    header nav .nav-brand img {
        width: 187px;
        height: auto;
    }
}

/* top-menu */
header nav .nav-top-menu {
    grid-area: top-menu;
}

header .nav-top-menu ul {
    list-style-type: none;
    margin: 0;
}

header .nav-top-menu .default-content-wrapper {
    display: flex;
    align-items: center;
    max-width: 1330px;
    margin: 0 auto;
}

header .nav-top-menu .default-content-wrapper>ul {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
}

header .nav-top-menu .default-content-wrapper>ul li:first-child a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (width < 900px) {
    header .nav-top-menu .default-content-wrapper>ul {
        justify-content: space-between;
        gap: 1rem;
        padding: 2.5px 15px;
    }

    header .nav-top-menu .default-content-wrapper>ul li:first-child a {
        font-size: 1.3rem;
        vertical-align: middle;
        font-weight: bold;
    }

    header .nav-top-menu .default-content-wrapper>ul li:nth-child(3) {
        display: none;
    }

    .header .nav-top-menu .default-content-wrapper>ul li:nth-child(4) {
        height: 30px;
    }

    .header .nav-top-menu .default-content-wrapper>ul li:nth-child(4) .icon {
        width: 100%;
        height: 100%;
    }

    header .nav-top-menu ul li>a sub {
        display: none;
    }
}

@media (width >=900px) {

    header .nav-top-menu .default-content-wrapper>ul:first-child {
        padding: 0.5rem 0;
        margin-right: auto;
    }

    header .nav-top-menu .default-content-wrapper>ul:first-child li {
        font-size: 1.5rem;
        padding-right: 1rem;
        position: relative;
    }

    header .nav-top-menu .default-content-wrapper>ul:first-child li sub {
        vertical-align: baseline;
        color: #6c6c6c;
        font-size: 1.1rem;
    }

    header .nav-top-menu .default-content-wrapper>ul:first-child li:hover sub {
        color: #282828;
    }

    header .nav-top-menu .default-content-wrapper>ul:first-child li:nth-child(2) {
        padding-inline: 2rem;
        border-left: 1px solid #6c6c6c;
        border-right: 1px solid #6c6c6c;
        color: #6c6c6c;
    }

    header .nav-top-menu .default-content-wrapper>ul:first-child li:nth-child(3) a {
        display: inline-block;
        border-radius: 3rem;
        color: #6c6c6c;
        cursor: pointer;
        background: #fff;
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    }

    header .nav-top-menu .default-content-wrapper>ul:first-child li:nth-child(3) a::before {
        content: '';
        background: #26ba40;
        height: 8px;
        width: 8px;
        display: inline-block;
        border-radius: 50px;
        margin-right: 5px;
        vertical-align: middle;
        margin-top: -1px;
        animation: blink-animation 1.5s steps(5, start) infinite;
    }

    header .nav-top-menu .default-content-wrapper>ul:first-child li:nth-child(4) {
        display: none;
    }


    header .nav-top-menu .default-content-wrapper>ul:nth-child(2)>li,
    header .nav-top-menu .default-content-wrapper>ul:nth-child(2)>li>.button-container .button {
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: #282828;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    header .nav-top-menu .default-content-wrapper>ul:nth-child(2)>li>.button-container .button {
        padding: 0;
    }

    header .nav-top-menu .default-content-wrapper>ul:nth-child(2)>li:has(ul):after {
        border: solid #282828;
        border-width: 0 1.2px 1.2px 0;
        display: inline-block;
        padding: 2.5px;
        vertical-align: top;
        transform: rotateZ(45deg);
        transition: all 0.3s ease-in;
        content: "";
        position: absolute;
        top: 33%;
        right: 2px;
    }

    header .nav-top-menu .default-content-wrapper>ul:nth-child(2)>li:hover:after {
        transform: rotateZ(225deg);
        top: 46%;
    }

    header .nav-top-menu .default-content-wrapper>ul:nth-child(2) li>ul {
        width: 270px;
        box-sizing: border-box;
        transform: translateX(-36%);
        padding: 3rem 4rem;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9999;
        background: #fff;
        border-radius: 1rem;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    header .nav-top-menu .default-content-wrapper>ul:nth-child(2) li:hover ul {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in;
    }

    header .nav-top-menu .default-content-wrapper>ul:nth-child(2) li ul a {
        color: #282828;
        font-size: 1.5rem;
    }

    header .nav-top-menu .default-content-wrapper>ul:nth-child(2) li>.button-container .button {
        background: transparent;
        margin: 0;
    }

    header .nav-top-menu .default-content-wrapper>ul:nth-child(2) li:nth-child(4) {
        background: #014579;
        color: #fff;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
        font-weight: 700;
        border-radius: 0px;
    }


    header .nav-top-menu .default-content-wrapper>ul:nth-child(2) li:nth-child(4)::after {
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        right: 12px;
    }

    header .nav-top-menu .default-content-wrapper>.button-container {
        margin-left: 2rem;
    }

    header .nav-top-menu .default-content-wrapper>.button-container a {
        margin: 0;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0.5px;
        background: #ec6625;
        position: relative;
        border-radius: 5px;
        padding: 0.4rem 2rem 0.7rem 1.4rem;
    }

    header .nav-top-menu .default-content-wrapper>.button-container a:hover {
        color: #ffffff;
    }

    header .nav-top-menu .default-content-wrapper>.button-container a::after {
        content: "";
        position: absolute;
        top: 34%;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(-46deg);
        -ms-transform: rotate(-46deg);
    }
}

/* sections */
header nav .nav-sections {
    grid-area: sections;
    flex: 1 1 auto;
    visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
    transform: translateX(0);
    visibility: visible;
    align-self: start;
}

header nav .nav-sections ul {
    list-style: none;
    padding-left: 0;
    font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
    font-weight: 500;
}

header nav .nav-sections ul>li>ul {
    margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
    font-weight: 400;
}

#nav>div.section.bg-megamenu.nav-sections>div>ul>li>p>span {
    display: none;
}


@media (width <900px) {
    header nav .section:not(.nav-sections) {
        z-index: 2;
    }
}

@media (width <900px) {
    .nav-sections {
        transform: translateX(-100%);
        float: none;
        position: fixed;
        width: 84%;
        left: 0;
        top: 0;
        height: 100%;
        background: #fff;
        z-index: 99999;
        overflow-y: auto;
        opacity: 1;
        transition: all 0.5s ease;
    }

    header .nav-sections li[aria-expanded] .button-container .button {
        display: block;
        color: #282828;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 2.5rem 0;
        line-height: 1;
        background: transparent;
        margin: 0;
        text-align: left;
    }

    .nav-sections .button-container.login-button {
        display: flex;
        justify-content: space-between;
        background: var(--brand-bg-color);
        padding: 2.5px 0 2.5px 2rem;
        letter-spacing: 0.5px;
    }

    .nav-sections .login-button .button {
        background: transparent;
        font-weight: 600;
        position: relative;
        font-size: 1.5rem;
        padding: 5px 0.6rem 5px 0;
        padding-right: 15px;
    }

    .nav-sections .button-container.login-button a::after {
        content: "";
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        vertical-align: top;
        transform: rotate(45deg);
        -webkit-transform: rotate(-46deg);
        -ms-transform: rotate(-46deg);
        content: "";
        position: absolute;
        top: 10px;
        right: 4px;
    }

    .header .nav-sections .call-back {
        display: block;
        background: #dddccb;
        color: #6c6c6c;
        padding: 1.2rem 1.5rem;
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: 600;
        position: relative;
        padding-left: 4rem;
    }

    header .nav-sections .call-back::before {
        content: "";
        background-image: url(/content/dam/icici-lombard/call-back-ico.png);
        background-repeat: no-repeat;
        width: 1rem;
        height: 1.2rem;
        display: inline-block;
        position: absolute;
        left: 2rem;
        top: 1.7rem;
    }

    .header .nav-sections .call-back::after {
        border: solid #282828;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        vertical-align: top;
        transform: rotate(45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-46deg);
        content: "";
        position: absolute;
        top: 17px;
        right: 15px;
    }

    .nav-sections ul {
        margin: 0;
    }

    .nav-sections .nav-drop {
        position: relative;
        max-height: 66.8px;
        padding: 0 2rem;
        overflow-y: hidden;
        transition: all 0.3s ease-in;
        border-bottom: 1px solid #cbcdce;
    }

    .nav-sections .default-content-wrapper>ul>li:not(.nav-drop) {
        padding: 0 2rem;
        line-height: 1;
        border-bottom: 1px solid #cbcdce;
    }

    .nav-sections .nav-drop[aria-expanded="true"] {
        max-height: var(--scroll-height);
        background: #f8f6f6;
    }

    .nav-sections .nav-drop[aria-expanded="true"] p::after {
        transform: rotateZ(225deg);
    }

    .nav-sections .nav-drop[aria-expanded="true"] p {
        color: #ec6608;
    }

    .nav-sections li {
        display: block;
        margin: 0;
    }

    .nav-sections .nav-drop>p::after {
        border: solid #282828;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        vertical-align: top;
        transform: rotateZ(45deg);
        transition: all 0.3s ease-in;
        content: "";
        position: absolute;
        top: 28px;
        right: 15px;
    }

    .nav-sections .nav-drop>p,
    .nav-sections li a {
        display: block;
        color: #282828;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 2.5rem 0;
        background: transparent;
    }

    .nav-sections .nav-drop>ul li>a {
        padding: 0.5rem 0 3rem;
    }

    .nav-login-close {
        position: relative;
        width: 48px;
        height: 48px;
        margin: auto;
        background: transparent;
        margin: 0;
        padding: 0;
    }

    .nav-login-close:hover,
    .nav-login-close:focus {
        background: transparent;
    }


    .nav-login-close:before,
    .nav-login-close:after {
        content: "";
        position: absolute;
        left: 24px;
        top: 12px;
        width: 1.3px;
        height: 28px;
        background: #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .nav-login-close:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@media (width >=900px) {

    header nav .nav-brand,
    header nav .nav-sections .nav-drop {
        padding-block: 9px;
    }

    header nav .nav-sections {
        display: block;
        visibility: visible;
        white-space: nowrap;
        padding-left: 4rem;
    }

    header nav:hover .nav-sections {
        align-self: unset;
    }

    header nav .nav-sections .nav-drop {
        position: relative;
        padding-right: 16px;
        cursor: pointer;
        font-size: 1.4rem;
        color: #fff;
        letter-spacing: 0.5px;
        display: inline-block;
        padding-right: 1.5rem;
        font-weight: 600;
    }

    header nav .nav-sections .nav-drop>p {
        padding-block: 13.4px;
    }

    header nav .nav-sections .nav-drop::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 40%;
        right: 2px;
        transform: rotate(135deg);
        width: 6px;
        height: 6px;
        border: 2px solid currentcolor;
        border-radius: 0 1px 0 0;
        border-width: 2px 2px 0 0;
    }

    header nav .nav-sections .nav-drop:hover::after {
        top: 50%;
        transform: rotate(315deg);
    }

    header nav .nav-sections ul {
        display: flex;
        gap: 24px;
        margin: 0;
    }

    header nav .nav-sections .default-content-wrapper>ul>li {
        flex: 0 1 auto;
        position: relative;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul {
        width: fit-content;
        box-sizing: border-box;
        position: absolute;
        top: 94%;
        left: 0;
        z-index: 9999;
        background: #fff;
        border-radius: 1rem;
        padding: 3rem 3rem 3rem 12rem;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.12);
        transform: translateX(-35%);
        margin-top: 0.3rem;
        transition: all 0.3s ease-in;
        overflow: hidden;
        display: inline-block;
    }

    header nav .nav-sections .default-content-wrapper>ul>li:hover>ul {
        opacity: 1;
        visibility: visible;
    }

    header .nav-sections .default-content-wrapper>ul>li>ul>li:first-child {
        position: relative;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul>li:first-child:before {
        content: '';
        background-image: var(--before-bg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        left: -9rem;
        top: 4px;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
        display: block;
        margin: 0;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
        content: "";
        background-image: url("/icons/rectangle.png");
        background-repeat: no-repeat;
        display: inline-block;
        height: 100%;
        position: absolute;
        left: 0;
        width: 9rem;
        top: 0;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul>li a {
        color: #282828;
        padding: 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 600;
        transition: 0.3s;
        text-decoration: none;
        display: inline-block;
    }

    header nav .nav-sections .default-content-wrapper>ul>li>ul>li a:hover {
        padding-left: 5px;
        color: #ec6608;
    }

    header nav .nav-sections .nav-drop::before {
        position: absolute;
        left: auto;
        right: 0;
        top: 90%;
        content: "";
        background: #fff;
        height: 6px;
        width: 0%;
        visibility: hidden;
        opacity: 0;
        transform: translateY(4px);
        transition-property: transform, width, opacity, visibility;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        border-radius: 3px 3px 0 0;
    }

    header nav .nav-sections .nav-drop:hover::before {
        visibility: visible;
        opacity: 1;
        right: auto;
        left: 0;
        width: 100%;
        transform: translateY(0);
    }

}

/* tools */
header nav .nav-tools {
    grid-area: tools;
    padding-block: 8.1px;
    padding-right: 15px;
    text-align: right;

    @media (width >=900px) {
        display: none;
    }
}


/* animation */
@keyframes blink-animation {
    100% {
        visibility: hidden;
    }
}

.nav-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 6;
    left: 0;
    display: none;
}

@media (width >=900px) {
    .nav-overlay {
        display: none !important;
    }
}

/* contact modal form */
