/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
  padding: 0 80px;
  max-width: 100%;
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height) 'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >=900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    /* max-width: 1264px;
    padding: 0 32px; */
    padding: 0 80px;
    max-width: 1537px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
    height: 74px;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: #282828;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >=900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 600;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
  font-weight: 500;
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
  font-weight: 400;
}

@media (width >=900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
    width: 40%;
  }

  header nav .nav-sections .nav-drop {
    position: unset;
    /* padding-right: 16px; */
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop p,
  header nav .nav-sections .nav-drop strong {
    position: relative;
    padding-right: 16px;
    /* font-weight: 600; */
    font-weight: 400;
  }
  header nav .nav-sections .nav-drop strong {
   display: block;
  }

  header nav .nav-sections .nav-drop p::after, header nav .nav-sections .nav-drop strong::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 37%;
    right: 3px;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    rotate: 135deg;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] p::after, header nav .nav-sections .nav-drop[aria-expanded='true'] strong::after {
    top: 31%;
    right: -4px;
    /* bottom: 0.5em; */
    /* transform: rotate(315deg); */
    rotate: 315deg;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']>p, header nav .nav-sections .nav-drop[aria-expanded='true']>strong {
    font-weight: 400;
    color: #000;
    font-family: Montserrat-Bold, sans-serif;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
    display: block;
    position: absolute;
    left: 0;
    width: 74%;
    top: 74px;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
    height: calc(100vh - 200px);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
    padding: 8px 15px 8px 113px;
    max-width: 16.85%;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  width: 38%;
}




/*  */





/* @media  (min-width:900px) { */


header nav .section.nav-brand .default-content-wrapper>p>a>picture>img {
  width: 180px;
  height: 46px;
}

header nav .nav-tools .default-content-wrapper>p>a>span {
  width: 16px;
}

header nav .nav-tools .default-content-wrapper>ul>li>p,
header nav .nav-tools .default-content-wrapper>p>a {
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;

}

header nav .nav-sections .nav-drop .inner-ul p::after,
header nav .nav-sections .nav-drop[aria-expanded='true'] .inner-ul li[aria-expanded='false'] p::after,

header nav .nav-sections .nav-drop .inner-ul strong::after,
header nav .nav-sections .nav-drop[aria-expanded='true'] .inner-ul li[aria-expanded='false'] strong::after {
  rotate: 401deg;
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
  rotate: 135deg;
  rotate: 401deg;
}

header nav .nav-sections .nav-drop[aria-expanded='true'] .inner-ul p::after, header nav .nav-sections .nav-drop[aria-expanded='true'] .inner-ul strong::after {
  width: 7px;
  height: 7px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
}

header nav .nav-sections .default-content-wrapper>ul>li {
  position: unset;
  margin-right: 10px;
}

header nav .nav-sections .default-content-wrapper>ul {
  color: #282828;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  text-transform: uppercase;
  font-size: 14px;
}

header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
  background: #011933;
  color: #fff;
  padding: unset;
  width: 100%;
  height: calc(100vh - 104px);
  padding-top: 35px;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='false']>ul {
  display: none;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>ul {
  display: block;
  position: absolute;
  left: 245px;
  top: 0;
  width: calc(100% - 245px);
  height: 100%;
  max-height: calc(100% - 60px);
  background: radial-gradient(95.17% 156.41% at -6.25% 158.56%, #65baff 0, #ebf3ff 100%);
  padding: 24px 78px 20px 78px;
  /* max-height: calc(100% - 44px); */
  max-height: calc(100% - 0px);
  left: 378px;
  left: 25.5%;
  padding: unset;
  width: 50%;
  padding-top: 30px;
}


header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>ul>li {
  width: 33.33%;
  color: #000;
  padding: 10px 78px 10px 78px;
  font-size: 14px;
  color: #282828;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>ul>li:hover a {
  text-decoration: none;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>.default-content-wrapper>p::after {
  display: none;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li>p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li>strong {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']> strong  {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>p, header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']> strong {
  color: rgb(106, 188, 255);
  font-size: 15px;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>.default-content-wrapper {
  display: block;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>ul>li .default-content-wrapper {
  display: none;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li>.default-content-wrapper {
  position: absolute;
  display: none;
  right: 0;
  width: 24.47%;
  top: 0px;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>.default-content-wrapper>p {
  padding: unset;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>.default-content-wrapper>p>picture>img {
  width: 100%;
  object-fit: cover;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li>.default-content-wrapper>ul {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li>.default-content-wrapper>ul>li:first-child {
  font-size: 30px;
  color: #fff;
}


header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li>.default-content-wrapper>ul>li>strong>a {
  padding: 8px 24px;
  font-size: 14px;
  background-color: #034EA2;
  color: #fff;
  border-radius: 7px;
}

/* tools CSS */

header nav .nav-tools .default-content-wrapper {
  font-size: 14px;
}

header nav .nav-tools .default-content-wrapper,
header nav .nav-tools .default-content-wrapper>ul {
  display: flex;
  flex-direction: row;
  gap: 22px;
  color: #282828;
  align-items: center;
  justify-content: end;
}

header nav .nav-tools .nav-drop::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 35%;
  right: -10px;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
  rotate: 135deg;
}

header nav .nav-tools .nav-drop[aria-expanded='true']::after {
  top: 33%;
  right: -14px;
  /* bottom: 0.5em; */
  /* transform: rotate(315deg); */
  rotate: 315deg;
}

header nav .nav-tools .default-content-wrapper>ul {
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

header nav .nav-tools .default-content-wrapper>ul>li {
  position: relative;
  margin-right: 20px;

}

header nav .nav-tools .default-content-wrapper>ul>li>ul {
  display: none;
  position: absolute;
  background-color: #fff;
}

header nav .nav-tools .default-content-wrapper>ul>li[aria-expanded="true"]>ul {
  display: block;
  position: absolute;
  min-width: 280px;
  top: 30px;
  left: 0;
  list-style: none;
  text-transform: none;
  border: none;
  box-shadow: rgb(100 100 111 / .2) 0 7px 10px 0;
  margin: 0;
  padding: 0;
}

a.button:any-link,
button {
  all: unset;
}


header nav .nav-tools .default-content-wrapper>ul>li>ul>li {
  padding: 5px 10px;
  color: #EC6608;
}

header nav .nav-tools .default-content-wrapper>ul>li>ul>li:hover {
  background-color: #EC6608;
  color: #fff;
  text-decoration: none;
}

header nav .nav-tools .default-content-wrapper>ul>li>ul>li:hover a {
  text-decoration: none;
  color: #fff;
}

header nav .nav-tools .default-content-wrapper>ul>li>ul>li>a {
  font-size: 14px;
}

.button.primary {
  padding: 8px 24px;
  font-size: 14px;
  background-color: #EC6608;
  ;
  color: #fff;
  border-radius: 7px;
}

header nav .nav-tools .default-content-wrapper>p .button.primary {
  padding: 11px 29px;
  font-size: 14px;
  background-color: #EC6608;
  color: #fff;
  border-radius: 7px;
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: 400;
}

/* } */

@media (max-width:900px) {

  header nav {
    gap: unset;
    padding: 0 16px;
  }


  /* header nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: unset;
    width: 100%;
    gap: unset;
  }

  header .nav-brand {
    flex: 1;
  } */

  header nav .nav-hamburger {
    position: absolute;
    right: 25px;
    top: 25px;
  }

  header nav .nav-hamburger>button {
    position: static;
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    padding: 21px 0;
    border-bottom: 1px solid #a4baff;
    padding: 21px 0;

  }

  header nav .nav-sections .default-content-wrapper>ul>li:first-child {
    border-top: 1px solid #a4baff;

  }

  header nav .nav-sections .default-content-wrapper>ul>li:last-child {
    border-bottom: unset;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
    display: block;
    height: auto;
    /* padding: 10px; */
    background: #27396e;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul>li {
    padding: 5px 20px;
    font-weight: 400;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul>li>a {
    font-weight: 400;
    font-size: 14px;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>p {
    padding: 10px;
    position: relative;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul>li[aria-expanded='true'] {
    background-color: #fff;
  }

  header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>ul {
    top: 37px;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    z-index: 2;
  }

  header nav .nav-sections .default-content-wrapper>ul>li.nav-drop>ul>li[aria-expanded='true']>ul>li {
    width: 88%;
    padding: 10px 20px;
  }

  header nav .nav-sections .default-content-wrapper >ul >li[aria-expanded='true'] {
    color: #000;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] .inner-ul>li[aria-expanded='true'] p {
    color: #000;
    font-size: 18px;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] .inner-ul>li[aria-expanded='true'] p::after {
    rotate: 225deg;
    top: 11%;
    left: 3px;

  }

  header nav .nav-sections .nav-drop p::after, header nav .nav-sections .nav-drop strong::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 3px;
    transform: translateX(-50%);
    font-size: 30px;
    width: 15px;
    height: 15px;
    /* border: 2px solid currentColor; */
    /* border-width: 2px 2px 0; */
    /* border-radius: 0 1px 0 0; */
    transform: translate(-50%, -50%);
    color: #0056b3;
    /* border-width: 2px 2px 0 0; */
    /* border-radius: 0 1px 0 0; */
    transform: translate(-50%, -50%);
    background: linear-gradient(#0056b3 0 0) center / 2px 100% no-repeat, linear-gradient(#0056b3 0 0) center / 100% 2px no-repeat;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true'] p::after,  header nav .nav-sections .nav-drop[aria-expanded='true'] strong::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 3px;
    transform: translateX(-50%);
    font-size: 30px;
    width: 16px;
    height: 1px;
    border: 2px solid currentColor;
    border-width: 2px 0px 0 0;
    border-radius: 0 1px 0 0;
    transform: translate(-50%, -50%);
    color: #0056b3;
    background: unset;
  }

  header nav .nav-sections .default-content-wrapper>p>em {
    display: block;
    border-radius: 5px;
    padding: 16px 24px;
    text-align: center;
    border: 1px solid #034EA2;
  }

  header nav .nav-sections .default-content-wrapper>p>em>a {
    font-style: normal;
  }

  header nav .nav-sections .default-content-wrapper>p>strong {
    text-align: center;
    margin-top: 20px;
    display: block;
    background: #034EA2;
    border-radius: 7px;
    padding: 16px 24px;
  }

  header nav .nav-sections .default-content-wrapper>p>strong>a {
    color: #fff;
    text-transform: uppercase;
    width: max-content;
  }
}