@import "../swipercust/swiper-bundle.min.css";

.tabs .tabs-list {
    display: flex;
    gap: 0.5ch;
    max-width: 100%;
    font-size: var(--body-font-size-xs);
    overflow-x: auto;
}

@media (width >=600px) {
    .tabs .tabs-list {
        font-size: var(--body-font-size-s);
    }
}

@media (width >=900px) {
    .tabs .tabs-list {
        font-size: var(--body-font-size-m);
    }
}

.tabs .tabs-list button {
    flex: 0 0 max-content;
    margin: 0;
    border: 1px solid #dadada;
    border-radius: 0;
    padding: 0.5em;
    background-color: var(--light-color);
    color: initial;
    font-weight: bold;
    line-height: unset;
    text-align: initial;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    transition: background-color 0.2s;
}

.tabs .tabs-list button p {
    margin: 0;
}

.tabs .tabs-list button[aria-selected="true"] {
    border-bottom: 1px solid var(--background-color);
    background-color: var(--background-color);
    cursor: initial;
}

.tabs .tabs-panel {
    margin-top: -1px;
    padding: 24px;
    border: 1px solid #dadada;
    overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
    display: none;
}

/* form tab css */
.tabs-wrapper:has(.tabs.form-tabs) {
    max-width: 1300px;
}

.tabs.form-tabs .tabs-list button[aria-selected="true"] {
    background-color: #0f1e7d;
    color: #fff;
    padding: 13px;
    border-top-right-radius: 8.5px;
    border-top-left-radius: 8.5px;
    cursor: pointer;
}

.tabs.form-tabs .tabs-list button[aria-selected="false"] {
    color: #313131;
    padding: 13px;
    border-top-right-radius: 8.5px;
    border-top-left-radius: 8.5px;
    border: 0.53px solid #d1d1d1;
}

.tabs.form-tabs .tabs-list button[aria-selected="true"] p,
.tabs.form-tabs .tabs-list button[aria-selected="false"] p {
    font-size: 14px;
    font-weight: 700;
}

.tabs.form-tabs .tabs-panel {
    border: unset;
    padding: 0;
    box-shadow: 0 0 #0000, 0 0 #0000, 0px 4px 30px -5px rgba(0, 0, 0, 0.25);
    overflow: unset;
}

.tabs.form-tabs .tabs-panel form {
    background-color: #fff;
    /* border-radius: 8.43px; */
    border: 0.42px solid #d1d1d1;
    display: flex;
    flex-direction: column-reverse;
    padding: 25px;
    opacity: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (width <=768px) {
    .tabs.form-tabs .tabs-panel form {
        padding: 10px;
    }  
}

.tabs.form-tabs .tabs-panel form>div {
    display: flex;
    border: 1px solid #cccccc;
    padding: 10px 16px;
    margin-top: 17px;
    border-radius: 8px;
    gap: 10px;
    align-items: center;
}

@media (max-width: 786px) {
    .tabs.form-tabs .tabs-panel form>div {
        flex-direction: column;
        gap: 12px;
        align-items: start;
    }

    .tabs.form-tabs .tabs-panel form>div .field-wrapper>fieldset {
        flex-direction: column;
        gap: 10px;
        padding-right: 0;
    }

    .tabs.form-tabs .tabs-panel form>div .field-wrapper>fieldset>.from-input>input {
        width: 100%;
        font-size: 14px;
    }

    .tabs.form-tabs .tabs-panel form>div .field-wrapper>fieldset>.to-input>input {
        width: 100%;
        font-size: 14px;
    }

    .tabs.form-tabs .tabs-panel form .field-wrapper.fares-wrapper select {
        width: 100%;
        font-size: 14px;
    }

    .tabs {
        margin-top: 40px;
    }

    .tabs.form-tabs .tabs-panel form>div .destination-wrapper.field-wrapper,
    .tabs.form-tabs .tabs-panel form>div .calender-wrapper.field-wrapper {
        width: 100%;
    }
}

.tabs.form-tabs .tabs-panel form>div>.field-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 0.5px solid #808286;
}

.tabs.form-tabs .tabs-panel form>div>.field-wrapper:last-child:after {
    border: unset;
}

.tabs.form-tabs .tabs-panel form fieldset {
    border: unset;
    padding: 0;
}

.tabs.form-tabs .tabs-panel form fieldset legend {
    display: none;
}

.tabs.form-tabs .tabs-panel form .destination-wrapper fieldset,
.tabs.form-tabs .tabs-panel form .calender-wrapper fieldset {
    display: flex;
    gap: 20px;
    padding-right: 10px;
    border-right: 1px solid #808286;
    height: 100%;
}

.tabs.form-tabs .tabs-panel form .destination-wrapper fieldset .field-wrapper.input-wrapper,
.tabs.form-tabs .tabs-panel form .calender-wrapper fieldset .field-wrapper.input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    height: 60px;
}

.tabs.form-tabs .tabs-panel form .destination-wrapper fieldset .field-wrapper.input-wrapper input,
.tabs.form-tabs .tabs-panel form .calender-wrapper fieldset .field-wrapper.input-wrapper input {
    background-color: rgb(244 245 245 / 1);
    border-radius: 5px;
    height: 100%;
    padding-left: 20px;
    font-size: 14px;
    line-height: 18px;
}

.tabs.form-tabs .tabs-panel form .destination-wrapper fieldset .field-wrapper.input-wrapper input::placeholder,
.tabs.form-tabs .tabs-panel form .calender-wrapper fieldset .field-wrapper.input-wrapper input::placeholder {
    font-size: 14px;
    line-height: 18px;
}

input[type="date"],
input[type="input"] {
    border: unset;
}

input[type="date"]:focus,
input[type="input"]:focus {
    outline: unset;
    border-bottom: 2px solid #0088dd;
}

input[type="date"] {
    font-size: 14px;
    line-height: 18px;
}

.tabs.form-tabs .tabs-panel form label,
.tabs.form-tabs .tabs-panel form label {
    font-size: 14px;
    line-height: 14px;
    color: #0088dd;
    font-weight: 500;
}

.tabs.form-tabs .tabs-panel form .field-wrapper.submit-wrapper button {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    padding: 15px 33px;
    background-color: #0088dd;
    border-radius: 8.43px;
}

.tabs.form-tabs .tabs-panel form>fieldset {
    display: flex;
}

.tabs.form-tabs .tabs-panel form>fieldset .field-wrapper {
    margin-right: 33px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.tabs.form-tabs .tabs-panel form .field-wrapper.fares-wrapper {
    width: 300px;
    padding-right: 20px;
    display: flex;
    gap: 5px;
    height: 60px;
    flex-direction: column;
}

.tabs.form-tabs .tabs-panel form .field-wrapper.fares-wrapper select {
    border: unset;
    background-color: rgb(244 245 245 / 1);
    border-radius: 5px;
    height: 100%;
    font-size: 14px;
    line-height: 14px;
    padding-left: 20px;
}

.tabs.form-tabs .tabs-panel form .field-wrapper.fares-wrapper select:focus {
    outline: unset;
    border-bottom: 1px solid #0088dd;
}

.tabs.form-tabs .tabs-panel form .field-wrapper.submit-wrapper {
    margin: 0;
}

/* flight-card*/

.tabs.form-tabs>div {
    display: flex;
    /* flex-direction: c; */
    /* gap: 20px; */
}

.section.tabs-container>.card-wrapper {
    padding: 100px 12px 30px;
    max-width: 1140px;
    overflow: hidden;
    position: relative;
  }

.tabs.form-tabs>div>.flight-card,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card {
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background: linear-gradient(180deg, #ffffff 0%, #ecf2ff 100%);
    box-shadow: 0px 4px 4px 2px #0640ad33;
    border-radius: 10px;
    font-family: "roboto";
    color: #0088dd;
    font-size: 12px;
    margin-top: 25px;
}

.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.from-info>.city,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.from-info>.city {
  color: #0088dd;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  font-weight: 500;
}

.tabs.form-tabs>div>.flight-card>.flight-info,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info {
    max-width: 600px;
    width: 100%;
    min-height: 180px;
    border-right: 0.5px solid #0088dd;
    display: flex;
    gap: 30px;
    /* justify-content: center; */
    align-items: center;
    padding-right: 33px;
}

.tabs.form-tabs>div>.flight-card>.flight-info>.from-info>strong,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.from-info>.city>strong,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.to-info>.city>strong {
    color: white;
    background: #0088dd;
    padding: 2px 7px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.from-info,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.to-info {
    text-align: left;
}



.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.from-info>.terminal,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.to-info>.terminal {
    margin: 10px 0 0 !important;
    font-size: 12px;
}

.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.from-info>.date,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.to-info>.date {
    margin: 0;
    font-size: 12px;
}

.tabs.form-tabs>div>.flight-card>.airline-details,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details {
    max-width: 400px;
    width: 100%;
}

.tabs.form-tabs>div>.flight-card>.airline-details,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details {
    display: flex;
    align-items: center;
}

.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details .airline-details-left {
    flex: 2;
    text-align: left;
}

.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details .airline-details-left>div:hover {
    color: #0088dd;
}

.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details .airline-details-left button {
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.11px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    background: #0088dd;
    margin: 20px 0 0;
    width: 80%;
    display: block;
}

.tabs.form-tabs>div>.flight-card>.airline-details>h4,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details>h4 {
    font-size: 14px;
    padding: 0px;
}

.tabs.form-tabs>div>.flight-card>.airline-details>div,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details>div {
    font-weight: 600;
    font-size: 12px;
}

.tabs.form-tabs>div>.flight-card>.airline-details>h4,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details>.airline-details-right>.Price {
    font-weight: 700;
    font-size: 18px;
}

.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details>.airline-details-right>.Price:hover {
    color: #0088dd;
}

.tabs.form-tabs>div>.flight-card>.airline-details>button,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details>button {
    background-color: #0088dd;
    color: white;
    font-weight: 800;
    cursor: pointer;
    display: block;
}

.tabs.form-tabs>div>.flight-card>.airline-details>div,
.section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details>div {
    font-weight: 600;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 786px) {
    .tabs.form-tabs>div>.flight-card {
        flex-direction: column;
        padding: 10px;
    }

    .tabs.form-tabs>div>.flight-card>.flight-info {
        border: none;
    }

    .tabs.form-tabs>div>.flight-card>.airline-details {
        align-items: center;
    }

    .tabs.form-tabs .tabs-panel form .field-wrapper.submit-wrapper button {
        padding: 10px 15px;
        margin-top: 10px;
    }

    .tabs.form-tabs .tabs-panel form .destination-wrapper fieldset,
    .tabs.form-tabs .tabs-panel form .calender-wrapper fieldset {
        border: none;
    }

    .fare-card>.card-count>.card-count-text {
        font-size: 14px;
    }

    .tabs.form-tabs .tabs-panel form>fieldset .field-wrapper {
        margin-right: 10px;
    }

    /* .tabs.form-tabs .tabs-panel form > fieldset {
        flex-direction: column;
    } */
}

/* city wrapper css */
.city-wrapper {
    background-color: rgb(255 255 255 / 1);
    border-radius: 20px;
    width: 240px;
    max-height: 380px;
    overflow-y: scroll;
    z-index: 20;
    padding: 0 20px;
    display: none;
    box-shadow: 0 0 #0000, 0 0 #0000, 0px 4px 30px -5px rgba(0, 0, 0, 0.25);
    scrollbar-width: none;
    position: absolute;
    top: 100%;
}

.city-wrapper .city-option {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgb(214 215 219 / 1);
    padding: 20px 0;
}

.city-wrapper .city-option p.iata-code {
    background-color: #0088dd;
    color: #fff;
    border-radius: 2px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin: 0;
}

.city-wrapper .city-option p.city {
    margin: 0;
    color: #151515;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.show .city-wrapper {
    display: block;
}

/* .tabs > .tabs-panel > .button-container >p> form > #form-tripfs > .field-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
} */
.tabs>.tabs-panel>div>h1 {
    margin: 0px;
    padding: 20px 22px;
    border-radius: 5px 5px 0px 0px;
    font-size: 30px;
    color: #424345;
    font-family: "Roboto";
    background: #ffffffbf;
    font-weight: 100;
}

.tabs>.tabs-panel>div>h1>a,
.tabs>.tabs-panel>div>h1>strong>a {
    color: #0088dd;
}

.tabs>.tabs-panel>div>p {
    margin: 0px;
}

.tabs-wrapper>.tabs>.tabs-list {
    display: none;
}

.tabs>.tabs-panel>div {
    max-width: 1240px;
}

@media (max-width: 786px) {
    .tabs>.tabs-panel>div>h1 {
        font-size: 15px;
        line-height: 1.4;
    }

    .tabs>.tabs-panel {
        width: 100%;
    }

    .tabs>.tabs-panel>div {
        width: 100%;
    }

    .tabs.form-tabs .tabs-panel form .field-wrapper.fares-wrapper {
        width: 100%;
        padding-right: 0;
    }
}

.button.disabled {
    opacity: 0.8;
}

.section .tabs-wrapper {
    padding: 62px 32px;
}

.tabs>.card-wrapper {
    border-radius: 10px;
}

.tabs>.card-wrapper>.swiper-wrapper>.flight-card {
    max-width: 100%;
    margin: 0px;
    border-radius: 10px;
}

.tabs.form-tabs>.card-wrapper {
    overflow: hidden;
}

.tabs.form-tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info> :hover {
    color: #0088dd;
}

.tabs.form-tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.from-info:hover {
    color: #0088dd;
}

.tabs.form-tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info:hover {
    color: #0088dd;
}

.tabs.form-tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info>.to-info:hover {
    color: #0088dd;
}

.tabs.form-tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details:hover {
    color: #0088dd;
}

.tabs.form-tabs>.card-wrapper>.swiper-wrapper>.flight-card>.airline-details>div:hover {
    color: #0088dd;
}

.tabs.form-tabs>.card-wrapper>.swiper-wrapper {
    padding: 0px;

}

.tabs>.card-wrapper>.swiper-wrapper {
    /* overflow: hidden; */
    justify-content: start;
}

.tabs-wrapper {
    padding: 15px 0px;
}

@media (max-width: 786px) {
    .tabs>.card-wrapper>.swiper-wrapper>.flight-card {
        flex-direction: column;
    }

    .section.tabs-container>.tabs-wrapper>.tabs>.card-wrapper>.swiper-wrapper>.flight-card>.flight-info {
        border: none;
    }

    .section .tabs-wrapper {
        padding: 62px 20px;
    }
}

@media (max-width : 430px) {

    .tabs.form-tabs>.card-wrapper>.swiper-wrapper {
        display: flex;
        gap: 49px;
    }
}


@media (max-width : 376px) {

    .tabs.form-tabs>.card-wrapper>.swiper-wrapper {
        display: flex;
        gap: 35px;
    }
}


@media (max-width : 324px) {

    .tabs.form-tabs>.card-wrapper>.swiper-wrapper {
        display: flex;
        gap: 26px;
    }
}

.tabs-panel>div>p>form>div>.calender-wrapper {
    opacity: 0.9;
}

.tabs-panel>div>p>form>div>.submit-wrapper {
    opacity: 0.9;
}


/* loader css */
.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
  }
  
  .hide {
    display: none !important;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #0088dd;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
  
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 