
@import url("../swiper/swiper.css");

.carousel {
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.carousel-wrapper {
    position: relative;
}
.carousel > .swiper-wrapper {
    max-width: 1265px;
    width: 100%;
    margin-top: 124px;
    /* padding: 48px; */
}
.carousel > .swiper-slide {
    max-width: 1265px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel > .swiper-wrapper > .swiper-slide > .inner-innerSub-1 {
    max-width: 461px;
    width: 100%;
    height: 100%;
}

.carousel > .swiper-wrapper > .swiper-slide > .inner-innerSub-1 > h3 {
    width: 64%;
    padding-bottom: 10px;
    border-bottom: 1px solid #a5a5a5;
}

.carousel > .swiper-wrapper > .swiper-slide > .inner-innerSub-2 {
    display: flex;
}

.carousel
    > .swiper-wrapper
    > .swiper-slide
    > .inner-innerSub-2
    > p:nth-child(2) {
    opacity: 0.4;
}
.carousel
    > .swiper-wrapper
    > .swiper-slide
    > .inner-innerSub-2
    > p
    > picture
    > img {
    max-width: 365px;
    width: 100%;
}

.carousel.carousel-style > .btnWrapper {
    max-width: 1265px;
    width: 100%;
    position: absolute;
    top: 50%;
}

.carousel.carousel-style .swiper-button-prev::after {
    font-size: 18px;
}
.carousel.carousel-style .swiper-button-next::after {
    font-size: 18px;
}

.carousel.swiper-pagination-bullets {
    max-width: 1265px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    position: relative;
}

.carousel .default-content-wrapper {
    text-align: center;
}

/* ==== */
.carousel .carousel .swiper {
    width: 100%;
    position: relative;
}

.carousel .swiper-wrapper {
    display: flex;
}

.carousel > .swiper-wrapper > .swiper-slide {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel.carousel-style .swiper-button-prev {
    left: -70px;
    bottom: 0%;
}

.carousel.carousel-style .swiper-button-next {
    right: -65px;
}
.carousel.carousel-style .swiper-button-next::after {
    background-image: url("/icons/right-arrw.svg");
    background-size: 30px 30px;
        height: 30px;
        min-width: 30px;
        background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
}
.carousel.carousel-style .swiper-button-prev::after {
    background-image: url("/icons/right-arrw.svg");
    background-size: 30px 30px;
        height: 30px;
        min-width: 30px;
        background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    transform: rotate(180deg);
}

.swiper-pagination-bullet {
    margin: 4 4px;
    opacity: 0.6;
    cursor: pointer;
}

/* 2 */

.carousel .carousel.block {
    position: relative;
    padding: 2rem 0;
}

.carousel .carousel.swiper {
    position: relative;
}

.carousel .swiper-wrapper {
    display: flex;
}

.carousel .swiper-wrapper > .swiper-slide {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* align-items: center; */
    align-items: flex-start;
    margin-top: 100px;
}

.carousel .feature-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.carousel .feature-text {
    flex: 1;
    min-width: 300px;
}

.carousel .feature-img img {
    width: 100%;
    max-width: 400px;
}

.carousel h3.swiper-pagination-bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0px;
    color: #303030;
    font-size: 21px;
    padding-left: 38px;
    border-left: 2px solid black;
    background-color: white;
    opacity: 0.9;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TSTAR-PRO-Regular";
    text-wrap: nowrap;
}

.carousel .swiper-pagination-bullet img {
    width: 30px;
    height: 30px;
}

.carousel .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    color: #ed1c24;
    font-family: "TSTAR-PRO-Bold";
    font-weight: 900;
}

.carousel .swiper-pagination-bullet span {
    font-weight: 500;
    margin-top: 4px;
}

.carousel .swiper-button-prev,
.carousel .swiper-button-next {
    background: white;
    width: 3rem;
    height: 3rem;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    transform: translateY(-150%);
    z-index: 13;
    box-shadow: 0 5.29px 5.29px 0 rgba(0, 0, 0, .251);
}


.carousel .btnWrapper > .swiper-pagination {
    max-width: 1064px;
    height: 19px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    margin-left: 53px;
    gap: 1rem;
    /* margin-bottom: 10px; */
    margin-top: 2px;
}

.carousel .inner-innerSub-1 > h2 {
    font-family: "TSTAR-PRO-Regular";
    padding-bottom: 20px;
    border-bottom: 1px solid #a5a5a5;
    width: max-content;
}

.carousel .swiper-pagination > h3 {
    width: max-content;
    padding: 7px;
    padding-left: 31px;
}

.carousel #xsens-fi-technology {
    max-width: 100%;
    width: max-content !important;
}

.inner-innerSub-1 > h2 > .icon > img {
    transform: rotate(17deg) scale(1.2);
    transition: transform 0.3s ease;
    width: 66%;
}

.carousel .swiper-button-prev.disabled,
.carousel .swiper-button-next.disabled {
    /* opacity: 0.4; */
    background: none;
    color: rgb(117, 115, 115);
    pointer-events: none;
    cursor: default;
}

.carousel-container > .default-content-wrapper > h2 {
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    padding: 30px;
    font-size: 3rem;
}

.carousel-container {
    margin-top: 64px;
}

@media (max-width: 600px) {
    .swiper-slide {
        flex-direction: column;
        gap: 20px;
    }

    .swiper-wrapper {
        padding: 0px;
    }

    .btnWrapper > .swiper-pagination {
        gap: 0px;
        width: 80%;
    }

    .swiper-slide {
        flex-direction: column;
    }

    .inner-innerSub-2 > p > picture > img {
        max-width: 200px;
        width: 100%;
        min-height: 200px;
        object-fit: contain;
    }

    .inner-innerSub-1 > h2 {
        font-size: 24px;
    }
    .carousel .swiper-wrapper > .swiper-slide {
        margin-top: 60px;
    }
    .swiper-button-prev {
        left: 0px;
    }

    .swiper-button-next {
        right: 0px;
    }

    .carousel > .swiper-wrapper {
        margin-top: 69px;
    }

    .carousel-container > .default-content-wrapper > h2 {
        font-size: 1.75rem;
    }
    .price-listing>div:nth-child(2)>div>ul>li:nth-child(1)>fieldset>div{
        font-size: 14px;
    }
    .price-listing>div:nth-child(2)>div>p {
      font-size: 14px;
    }
}

// Custom Styling
.section.carousel-container .default-content-wrapper{
    margin-top: 60px;
}
.section.carousel-container .default-content-wrapper p{
    text-align: center;
    font-size: 46px;
    line-height: 54px;
    color: #2b2b2b;
    font-family: switzer, sans-serif;
    font-weight: 600;
    letter-spacing: -.48px;
}
.section.carousel-container > .carousel-wrapper{
    max-width: 1258px;
    padding: 0;
}
.section.carousel-container .carousel-style{
    background: none;
}
.section.carousel-container .carousel-style > .swiper-wrapper{
    margin-top: 40px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide{
    margin-top: 0px;
    padding: 16px;
    box-sizing: border-box;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div picture img{
    min-height: 270px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1pc;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ul li{
    margin-bottom: 16px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ul li:nth-child(1) {
    font-size: .75rem;
    line-height: .95pc;
        color: #adadad;
    display: inline-block;
    font-family: switzer, sans-serif;
    font-weight: 400;
    letter-spacing: -.16px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ul li:nth-child(2){
    font-size: 1.375rem;
    line-height: 26.5px;
    color: #353936;
    font-family: switzer, sans-serif;
    font-weight: 600;
    letter-spacing: -.16px;
    padding-right: 3px;
    min-height: 52px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ul li:nth-child(3){
    font-size: .8125rem;
    line-height: 16.5px;
        color: #6b6b6b;
        font-family: switzer, sans-serif;
        font-weight: 400;
    letter-spacing: -.16px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ol{
    display: flex;
    align-items: center;
    gap: 40px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ol li:nth-child(1){
      display: flex;
  align-items: center;
  font-size: 16px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ol li:nth-child(1) .icon-comments {
  margin-right: 5px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div p:last-of-type{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 75pt;
    color: #4a4a4a;
    display: block;
    font-family: switzer, sans-serif;
    position: absolute;
    font-weight: 400;
    letter-spacing: -.16px;
    top: 12px;
    left: 12px;
    padding: 10px 14px;
    font-size: 12px;
}

.section.carousel-container .carousel-style > .btnWrapper > .swiper-button-next.swiper-button-disabled,
.section.carousel-container .carousel-style > .btnWrapper > .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

@media (width<768px){
    .carousel.carousel-style > .btnWrapper {
    display: none;
}
.section.carousel-container .default-content-wrapper p{
    font-size: 1.75rem;
    line-height: 2.1pc;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ul li{
    margin-bottom: 10px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div picture img{
    min-height: 169px;
    max-height: 169px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ul li:nth-child(2){
    font-size: 1rem;
    line-height: 1.3pc;
    letter-spacing: -.16px;
    min-height: auto;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ul li:nth-child(3){
    font-size: .75rem;
    line-height: 15.6px;
}
.section.carousel-container .carousel-style > .swiper-wrapper > .swiper-slide div ol li span img{
    width: 20px;
    height: 20px;
}
}