.cheapflightsbreadcrumb-wrapper > .cheapflightsbreadcrumb > div > div > ul {
    padding: 0px;
    display: flex;
    gap: 15px;
    list-style: none;
}

.cheapflightsbreadcrumb-wrapper
    > .cheapflightsbreadcrumb
    > div
    > div
    > ul
    > li
    > a {
    font-family: "HelveticaNeueRegular";
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    color: #0088DD;
        letter-spacing: 0;
}

.cheapflightsbreadcrumb-wrapper
    > .cheapflightsbreadcrumb
    > div
    > div
    > ul
    > li{
      display: inline-block;
  position: relative;
  margin-right: 20px;
    }

.cheapflightsbreadcrumb-wrapper
    > .cheapflightsbreadcrumb
    > div
    > div
    > ul
    > li::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 11px;
    transform: rotate(39deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 3px 3px 0 0;
    color: #777777;
    /* left: 46px; */
    right: -15px;
}

.cheapflightsbreadcrumb-wrapper > .cheapflightsbreadcrumb > div > div > ul >li:last-child{
  position:static;

}


.dailycheap-header-wrapper>.dailycheap-header>div:first-child>div>h2{

  font-family: "Roboto-regular";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: none;
    color: #0088DD;

}