/* .cf-fragment.block a{
    display: none;
} */

.section.cf-fragment-container {
    overflow: hidden;
}

.emi-calculator-container {
    color:white;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.emi-header {
    /* text-align: center; */
    margin-bottom: 20px;
}

.emi-title {
      font-size: 18px;
    color: #54565C;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.562px;
    text-align: center;
}

.emi-heading {
    font-size: 44px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.2;
    margin: 0;
}

.emi-content {
   background: #ebf5ff;
   width: 58%;
   margin-right: 20px;
    padding: 20px 36px;
    border-radius: 16px;
    border: 1px solid rgba(0, 76, 143, .1);
}

.emi-result{
    background: #ebf5ff;
    width: 42%;
    padding: 20px 36px;
    border-radius: 16px;
    border: 1px solid rgba(0, 76, 143, .1);
}
/* .sec-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* EMI Summary / Circle Chart Section */
.emi-summary {
    display: flex;
    padding: 0 15px;
    border-radius: 10px;
}

.circle-chart-container {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 5px solid rgb(255 152 199 / 60%);
    width: 350px;
    height: 350px;
    background: linear-gradient(137deg, rgb(255 152 199 / .5) 30.44%, rgb(3 78 162 / .5) 84.33%);
    backdrop-filter: blur(24px);
    box-shadow: inset 0 0 0 14px #242831;
    border-width: 10px;
    border-style: solid;
}

.circle-chart {
    display: flex;
    align-items: center;
    /* text-align: center; */
    color: #ecf0f1;
}

.circle-text-label {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

.circle-value {
    font-size: 18px;
    font-weight: 400;
    outline: none;
    box-shadow: none;
    border: none;

}

.legend {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.value-wrapper {
    display: flex;
    flex-direction: column;
}

.legend-color {
    min-width: 40px;
    height: 40px;
    border-radius: 100%;
    filter: drop-shadow(4px 4px 20px rgb(239 239 239 / .25));
}

.legend-color.principal {
    background: rgb(255 152 199 / 60%);
}

.legend-color.interest {
    background-color: #034EA2;
}

.legend-value {
    font-size: 22px;
}

.emi-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #34495e; */
}

.control-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.control-group label {
    font-size: 16px;
    color: #292929;
    font-weight: 800;
}
.amount-text{
    font-size: 16px;
    color: #292929;
    font-weight: 800;
}

/* .value-txt-wrapper {
    display: flex;
    justify-content: space-between;

} */

.value-txt-wrapper .amount-words {
    width: 50%;
}

.input-display-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a657c;
    border-radius: 6px;
    padding: 8px 12px;
}

.value-txt-wrapper .input-display-wrapper {
    padding: unset;
    background: unset;
}
.input-display-wrapper input{
    width: 100px;
    border: 1px solid rgba(0, 76, 143, .1);
    border-radius: 4px;
    color: #004c8f;
    background: #fff;
    text-align: end;
    padding: 2px;
    font-weight: 800;
    letter-spacing: 1px;
}

.value-display {
    background: none;
    border: none;
    outline: none;
    color: #54565C;
    font-weight: 400;
    width: 100%;
    text-align: left;
    font-size: 16px;
    /* border-radius: 8px; */
    background: rgb(255 255 255 / .1);
    /* padding: 0 10px; */
    line-height: 1.3;
    border-bottom: 1px solid grey;
}

/* Hide arrow buttons for number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.currency-symbol,
.percentage-symbol,
.unit-label {
    color: #bdc3c7;
    font-size: 16px;
    font-weight: 600;
    /* margin-left: 5px; */
}

.currency-symbol {
    margin-right: 5px;
}
.interest-rate{
    margin-bottom: 0;
}

/* Range Slider Styling */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 6px;
    background:#fff;
    outline: none;
    padding: 0;
    margin: 18px 0;
    transition: background 0.2s ease-in-out;
}

/* Thumb styling (circular) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    background: #004c8f;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #004c8f;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #004c8f;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    color: #292929;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    /* Adjust spacing */
}

.btn-wrap {
    text-align: center;
    width: 100%;
    background:radial-gradient(55.75% 55.75% at 50% 50%, #9B1E26 0%, #56070C 100%);
    padding: 10px 0px;
    border-radius: 8px;

}

@media (max-width: 768px) {
    .emi-content {
        width: auto;
        padding: 16px 12px;
        margin-right: 0;
    }
    .emi-result{
        width: auto;
        padding: 16px 12px;
    }

    .emi-summary,
    .emi-controls {
        width: 100%;
        min-width: unset;
        padding: 0;
    }

    .emi-calculator-container {
        flex-direction: column;
        gap: 12px;
    }

    .emi-heading {
        font-size: 28px;
    }

    .circle-chart-container {
        width: 210px;
        height: 210px;
    }

    .circle-value {
        font-size: 26px;
    }

    .emi-title {
        font-size: 17px;
    }

    .circle-text-label {
        font-size: 10px;
    }

    .legend-label,
    .legend-value {
        font-size: 10px;
        font-weight: 400;
    }

    .legend-color {
        min-width: 16px;
        height: 16px;
    }

    .legend {
        justify-content: space-between;
        width: 100%;
    }

    .control-group label {
        font-size: 16px;
    }

    .value-display {
        font-size: 16px;
    }

    .range-labels {
        font-size: 14px;
    }

.emi-header{
    text-align: center;
}
.btn-wrap{
    margin-top: 10px;
}
}

/* Range Slider Thumb Styling */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-top: 1px;
    background-image: url('/icons/hdfcsliderfavicon.ico');
    background-size: 23px 23px;
}

input[type="range"]::-moz-range-thumb {
    width: 23px;
    height: 23px;
    cursor: pointer;
    background-size: 23px 23px;
}

input[type="range"]::-ms-thumb {
    width: 23px;
    height: 23px;
    cursor: pointer;
     background-size: 23px 23px;
}

/* New CSS */
.emi-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c9e0f7;
    border-radius: 8px;
    padding: 11px 16px;
}
.emi-text{
    font-size: 14px;
    color: #004c8f;
    font-weight: 600;
    margin: 0;
}
.emi-value-txt{
    font-size: 30px;
    font-weight: 800;
    color: #004c8f;
    margin: 0;
}
.emi-cnt{
    margin-top: 24px;
}
.emi-par-val{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}
.emi-par-text{
    font-size: 16px;
    color: #000;
    margin: 0;
}
.emi-amt{
    font-size: 16px;
    color: #000;
    margin: 0;
}
.emi-btn-wrap{
    display: flex;
    gap: 10px;
}
.emi-btn{
    width: 50%;
    color: #292929;
    border: 1px solid #004c8f;
    border-radius: 8px;
    text-align: center;
    padding: 12.4px 16px;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}
.emi-btn p{
font-size: 16px;
    margin: 0;
    font-weight: 600;
}
.emi-btn span::after{
    content: '';
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 1px;
  width: 8px;
  height: 8px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);
}
.emi-btn.active{
    background-color: #004c8f;
    color: #fff;
    font-weight: 800;
}
.section.cf-fragment-container{
    background: #f8f8f8;
}
.section.cf-fragment-container .default-content-wrapper{
    text-align: center;
    padding-top: 40px;
}
.section.cf-fragment-container .default-content-wrapper h2{
    font-size: 48px;
    margin: 0;
    margin-bottom: 22px;
    letter-spacing: 2px;
}
.section.cf-fragment-container .default-content-wrapper p{
    margin: 0;
    font-size: 20px;
    margin-bottom: 22px;
}
.section.cf-fragment-container .default-content-wrapper p:nth-child(3){
    color:#004c8f;
}

@media (max-width: 768px){
    .emi-btn span::after{
   margin-bottom: 3px;
}
.section.cf-fragment-container .default-content-wrapper h2{
    font-size: 24px;
    letter-spacing: 1px;
}
.section.cf-fragment-container .default-content-wrapper p{
    font-size: 16px;
    margin-bottom: 12px;
}
.emi-btn-wrap div:nth-child(1){
    background-color: #004c8f;
    color: #fff;
}
.section.cf-fragment-container .default-content-wrapper{
    padding-top: 20px;
}
}
