.tab.tab-style .tab-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .tab .tab-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tab .tab-list {
    font-size: var(--body-font-size-m);
  }
}

.tab .tab-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 0.5em;
  background-color: var(--light-color);
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tab .tab-list button p {
  margin: 0;
}


.tab .tab-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tab .tab-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid #dadada;
  overflow: auto;
}

.tab .tab-panel[aria-hidden='true'] {
  display: none;
}

/* Tab Component CSS */

.tab.tab-style .tab-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  height: auto;
  justify-content: space-around;
}
.tab.tab-style .tab-list button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13%;
  flex: unset;
  border: none; 
  position: relative;
  background-color: transparent;
}
.tab.tab-style .tab-list button p{
  color:#535353;
  font-size: 16px;
}
.tab.tab-style .tab-list button.btn-active{
    background-color: #004c8f;
}
.tab.tab-style .tab-list button.btn-active img{
    filter: brightness(0) invert(1);
}
.tab.tab-style .tab-list button.btn-active p{
    color: #fff;
}
.tab.tab-style .tab-list button.btn-active,.tab.tab-style .tab-list button:hover{
    background-color: #004c8f;
    border-radius: 8px ;
    p{
      color: #fff;
    }
}
.tab.tab-style .tab-list button:hover::after{
    border: .5rem solid transparent;
    border-radius: 0 0 .375rem 0;
    border-width: 0 0 1.25rem 1.25rem;
    bottom: -.5625rem;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0;
    border-color: transparent #004c8f #004c8f transparent;
}
.tab.tab-style .tab-list button:hover img{
    filter: brightness(0) invert(1);
}

.tab.tab-style .tab-list button.btn-active::after{
    border-color: transparent #004c8f #004c8f transparent;
}
.tab.tab-style .tab-list button::after{
    border: .5rem solid transparent;
    border-radius: 0 0 .375rem 0;
    border-width: 0 0 1.25rem 1.25rem;
    bottom: -.5625rem;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0;
}
.tab.tab-style .tab-panel{
  border: none;
  padding: 0;
}

.section.tab-section{
      background: #f0f6fb
}
.section.tab-section .default-content-wrapper h2{
  text-align: center;
  font-size:48px ;
  letter-spacing: 3px;
}
.section.tab-section .default-content-wrapper{
  padding: 20px 32px;
}


@media screen and (max-width: 768px){
  .tab.tab-style .tab-list{
  width: auto;
  overflow-x:auto;
}
.tab.tab-style .tab-list::-webkit-scrollbar {
  display: none;
}

.tab.tab-style .tab-list {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.tab.tab-style .tab-list button{
  flex: 0 0 33.3333%;
  margin-bottom: 15px;
}
.tab.tab-style .tab-list button.btn-active p{
    color: #fff;
}
.tab.tab-style .tab-list button p{
  font-size: 14px;
}
.section.tab-section .default-content-wrapper h2{
  font-size: 24px;
  letter-spacing: normal;
  font-weight: 800;
}
.section.tab-section .default-content-wrapper{
  padding: 10px 3px;
}
}