footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer>div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >=900px) {
  footer .footer>div {
    padding: 40px 32px 24px;
  }
}

body main {
  display: block;
}

.footer-wrapper {
  height: auto;
  min-height: 400px;
  width: 100%;
  color: rgb(255, 255, 255);
  z-index: 1;
  position: relative;
  background: rgb(37, 58, 113);
}

.footer .section .columns .column-row {
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}


.footer .section .columns>div>div {
  flex: unset;
  order: unset;
}

.footer .section .columns .column-row .column-col-1 {
  width: 67.8%;
  /* padding-left: 15px; */
  padding-right: 15px;
}

.footer .section .columns .column-row .column-col-1>p {
  width: 100%;
  text-align: left;
  margin-bottom: 48px;
}

.footer .section .columns .column-row .column-col-1>p img {
  max-width: 100%;
  width: 200px;
  height: 100%;
}

.footer-wrapper .footer>div {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 20px;
}

.footer .section .columns ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .section .columns .column-row .column-col-2 {
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .section .columns .column-row .column-col-2 ol:nth-child(2) {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 36px;
}

.footer .section .columns .column-row .column-col-2 ol:nth-child(2) li {
  width: 100%;
  height: 100%;
  /* background: url(/icons/gPlay.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.footer .section .columns .column-row .column-col-2 ol:nth-child(2) li>span {
  width: 100%;
  height: 100%;
}

.footer .section .columns .column-row .column-col-2 ol:nth-child(2) li>span img {
  width: 120px;
  height: auto;
}

/* .footer .section .columns .column-row .column-col-2 ol:nth-child(2):last-child {
  background: url(/icons/ios.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.footer .section .columns .column-row .column-col-2>ol:nth-child(4) {
  display: flex;
  gap: 17px;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-top: 32px;
}

.footer .section .columns>div>div:nth-child(2)>ol:nth-child(4)>li {
  cursor: pointer;
}

.footer .section .columns .column-col-2:nth-child(2)>ol:nth-child(4)>li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  background: #fffFFF4D;
  border-radius: 50px;
  padding: 5px;
  color: #fff;
}

.footer .section .columns .column-row .column-col-2:nth-child(2)>ol:nth-child(4)>li .icon img {
  height: 20px;
  object-fit: contain;
  object-position: center;
}

.footer .section .columns .column-row .column-col-2 ul:nth-child(3)>li {
  font-size: 18px;
  font-family: "Montserrat-medium";
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

.footer .section .columns .column-row .column-col-2:nth-child(2)>ul>li:nth-child(2) {
  color: #fff;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  margin-top: 14px;
  padding-bottom: 20px;
  font-weight: 400;
  line-height: 18.56px;
  letter-spacing: -0.77px;
  text-transform: none;
}

.footer .section .columns .column-row .column-col-2:nth-child(2) ul li:nth-child(3) {
  margin-top: 36px;
  font-size: 18px;
  font-family: "Montserrat-medium";
  font-weight: 500;
  line-height: 14.46px;
  text-transform: uppercase;
  color: #fff;
}

.footer .section .columns .column-row .column-col-1>ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width : 768px) {

  .footer .section .columns>div>div:first-child>ul {
    display: flex;
    flex-direction: column;
  }
}

.footer .section .columns .column-row .column-col-1>ul>li:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
  flex-direction: column;
  width: 85%;
  font-size: 14px;
  font-family: Montserrat-Regular;
  font-weight: 400;
  line-height: 28px;
}

.footer .section .columns>div>div ul li:nth-child(1) p {
  font-size: 16px;
  font-family: Montserrat-Regular;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #fff;
}


.footer .section .columns .column-row .column-col-1 li:nth-child(1)>ul {
  margin: 0;
  padding: 0;
  display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 30px;
}

.footer .section .columns .column-row .column-col-1 li:nth-child(1)>ul li {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

@media (max-width : 768px) {
  .footer .section .columns>div>div ul li:nth-child(1)>ul {
    display: flex;
    flex-direction: column;
  }
}


.footer .section .columns .column-row .column-col-1>ul ul li:nth-child(2) {
  grid-column: 3 / 3;
}

.footer .section .columns>div>div ul li:nth-child(2) p {
  font-size: 16px;
  font-family: Montserrat-Regular;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.footer .section .columns>div>div ul li:nth-child(2)>ul {
  margin: 0;
  padding: 0;
}

.footer .section .columns>div>div ul li:nth-child(2)>ul li {
  margin-bottom: 10px;
}

.footer .section .columns>div>div ul li:nth-child(2)>ul li a {
  color: #fff;
  font-size: 14px;
  font-family: Montserrat-Regular;
  font-weight: 400;
  line-height: 14px;
}

.footer .section .columns .column-row .column-col-1>ul>li:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer .section .columns .column-row .column-col-1>ul li:nth-child(3) p {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  text-decoration: underline;
  /* margin-bottom: 21px; */

}

.footer .section .columns .column-row .column-col-1>ul li:nth-child(3) p a {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}

.footer .section .columns .column-row .column-col-1>ul>li:nth-child(4) {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin-left: -50px;
}

.footer .section .columns .column-row .column-col-1>ul>li:nth-child(4) p {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

.footer .section .columns .column-row .column-col-1>ul>li:nth-child(4) p a {
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

.footer .section .columns .column-col-1>ul>li:nth-child(5) {
  grid-column: 1 / 5;
  grid-row: 4 / 4;
  padding: 20px 0;
  margin: 12px 0 0;
}

.footer .section .columns .column-row .column-col-1>ul li:nth-child(5) p {
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-top: 5px;
  text-transform: capitalize;
  margin-bottom: 0.25rem;
  color: #fff;
  word-wrap: break-word;
}

.footer .section .columns .column-row .column-col-1>ul li:nth-child(5) ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer .section .columns .column-row .column-col-1>ul li:nth-child(5) ul li a {
  white-space: nowrap;
  padding: 0 7px;
  text-transform: uppercase;
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  border-right: 1px solid #fff;
}

@media screen and (max-width: 1315px) {
  .footer .section .columns .column-row .column-col-1>ul ul li:nth-child(2) {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 1025px) {
  .footer .section .columns .column-row .column-col-1>ul li:nth-child(5) ul {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrapper .footer>div {
    width: 93%;
  }

  .footer .section .columns>div {
    flex-direction: column;
  }

  .footer .section .columns>div>div:first-child {
    width: 100%;
  }

  .footer .section .columns>div>div:nth-child(2) {
    width: 100%;
  }

  .footer .section .columns .column-row .column-col-1>ul>li:nth-child(1) {
    display: none;
  }

  .footer .section .columns .column-row .column-col-1>ul>li:nth-child(2),
  .footer .section .columns .column-row .column-col-1>ul>li:nth-child(3),
  .footer .section .columns .column-row .column-col-1>ul>li:nth-child(4) {
    display: none;
  }

  .footer .section .columns .column-row {
    flex-direction: column-reverse;
    position: relative;
    padding-top: 100px;
  }

  .footer .section .columns .column-row .column-col-1 {
    width: 100%;
    padding: 0;
  }

  .footer .section .columns .column-row .column-col-2 {
    width: 100%;
    padding: 0;
  }

  .footer .section .columns .column-row .column-col-1>p {
    position: absolute;
    top: 0;
  }

  .footer .section .columns .column-row .column-col-2>ol:nth-child(4) {
    gap: 6px;
    padding: 0;
  }

  .footer .section .columns .column-row .column-col-2>ol:nth-child(4)>li .icon {
    width: 22px;
    height: 22px;
  }

  .footer .section .columns .column-col-1 ul li:nth-child(5) {
    margin: 0;
  }

}