footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
/* Footer Css */

.footer-wrapper .footer.block{
  background: #262626;
    border-radius: 24px 24px 0 0;
    padding: 140px 60px 110px;
}
.footer-wrapper .footer.block> div{
  max-width: none;
  margin: 0;
  padding: 0;
}
@media (width < 768px) {
  .footer-wrapper .footer.block {
    padding: 64px 24px;
  }
}
