/* breadcrumbs in body */
.breadcrumbs-container {
  margin: auto;
  max-width: 1248px;
  padding: 0 24px;
  font-size: var(--body-font-size-xs);
  margin-top: 24px;
  margin-bottom: 0;
}

.breadcrumbs-container .breadcrumbs {
  display: block;
  width: 100%;
  height: var(--breadcrumbs-height);
  overflow: hidden;
}

.breadcrumbs-container .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
}

.breadcrumbs-container .breadcrumbs ol li {
  padding: 0;
  color: var(--dark-color);
}

.breadcrumbs-container .breadcrumbs ol li:not(:last-child)::after {
  content: '/';
  padding-left: 1ch;
}

.breadcrumbs-container .breadcrumbs ol li[aria-current] {
  color: var(--text-color);
}

@media (width >= 900px) {
  .breadcrumbs-container {
    max-width: 1264px;
    padding: 0 32px;
  }
}

/* Hide old header breadcrumbs if present */
.section>div.breadcrumb-wrapper{
  /* padding: 0 80px; */
  /* max-width: 100%; */
}

header .breadcrumbs {
  display: none !important;
}

.breadcrumb>.container-fluid>ul{
    padding: 0px;
    display: flex;
    gap: 25px;
    font-size: 18px;
    padding: 30px 0 0 0;

}

.breadcrumb>.container-fluid>ul>li{
  text-transform: uppercase;
}
.breadcrumb>.container-fluid>ul>li>a{
color: #333333;
font-size: 14px;
}
.breadcrumb>.container-fluid>ul>li{
    color: #707070;
    font-family:"Montserrat-Regular" ;
    font-size: 14px;
}
.breadcrumb>.container-fluid>ul>li>a{
   text-decoration: none;
}

.breadcrumb>.container-fluid>ul>li::marker{
     font-size: 10px
}
.breadcrumb>.container-fluid>ul>li:nth-child(1){
    list-style: none;
}

@media (max-width: 768px) {
 .breadcrumb{
    display: none;
 }
}